

* {
    padding: 0;
    margin: 0;
}

body{
    width: 1080px;
    margin: 0 auto;
}


































/* .box {
    background-color: rgb(143, 28, 28);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {    
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 2fr;

    gap: 3px;
    
}

#box-1 {
    grid-row: 1 / -1;
    grid-column: 1 / 5;
}
#box-2 {
    grid-column: 5 / -1;
}
#box-3 {
    grid-column: 5 / 9; 
}
#box-4 {
    grid-column: 9 / -1; 
} */







